body {
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#grid-container {
    display: grid;
    margin: 5em auto;
    height: 768px;
    width: 1024px;
    border-style: solid;
    border-color: white;
}

#grid-container:hover {
    border-color: lightblue;
}

.grid-square {
    display: flex;
}

#reset-grid-btn {
    border-style: solid;
    border-color: white;
    background-color: black;
    color: white;
    font-size: 24px;
}

#reset-grid-btn:hover {
    color: lightblue;
    border-color: lightblue;
}

#title {
    display: grid;
    justify-content: center;
}

#options {
    display: grid;
    justify-content: center;
    margin-top: 3em;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    flex-direction: row;
    align-items: center;
}
